- if !authenticated?
  .mb-8.px-4.py-2.rounded.bg-yellow-50.border.border-yellow-500.text-yellow-700.flex.items-center.space-x-2
    %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1")
      %path(stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z")
    .flex-1
      作品を配信するためには
      = link_to "アカウント登録", new_user_path, class: "text-link"
      または
      = link_to "ログイン", new_session_path, class: "text-link"
      が必要です

.mb-4
  = render "books/header", active_step: 2

%div(class="mb-12 text-sm text-gray-500")
  %p 配信する期間や時間などを登録して、配信を予約してください。

.mb-12
  = render "campaigns/banner", campaign: @campaign

= form_with model: @campaign, local: true do |f|
  = f.hidden_field :book_id, value: @book.id
  = f.hidden_field :book_title, value: @book.title
  = f.hidden_field :author_name, value: @book.author_name
  = f.hidden_field :color, value: @campaign.color
  = f.hidden_field :pattern, value: @campaign.pattern

  .mb-12
    .mb-8
      %h5.mb-4.font-bold 配信期間
      .border.rounded.bg-gray-50.p-2.mb-4
        = @book.wordsCount.to_fs(:delimited)
        %small.text-xs 文字
        .inline
          .inline.text-sm （配信期間の目安:
          .inline.text-red-600= @book.recommended_duration
          .inline.text-sm ）
      %div(class="flex sm:items-center flex-col sm:flex-row sm:space-x-2")
        = f.date_field :start_date, min: Date.current.tomorrow, max: Date.current.since(2.month), required: true, class: 'border border-gray-200 rounded p-2 flex-1'
        %div(class="text-center rotate-90 sm:rotate-0") 〜
        = f.date_field :end_date, min: Date.current.tomorrow, max: Date.current.since(14.months).end_of_month, required: true, class: 'border border-gray-200 rounded p-2 flex-1'
      %small.text-xs ※配信開始日は現在から2ヶ月以内、配信期間は12ヶ月以内で設定してください
    .mb-8
      %h5.mb-2.font-bold 配信時間
      = f.time_field :delivery_time, class: 'border border-gray-200 rounded w-full p-2', placeholder: '07:00', min: '05:00', max: '23:00', step: 600
      %small.text-xs ※配信時間は5:00~23:00の間で指定可能です（実際の配信には数分程度の誤差があります）
    .mb-8
      %h5.mb-2.font-bold 受信方法
      %div
        = f.select :delivery_method,
          Subscription.enum_options_for_select(:delivery_method),
          { include_blank: "通知なし", disabled: @disabled_methods },
          class: 'border border-gray-200 rounded w-full p-2'
      %ul.mt-2.space-y-1
        %li.text-xs
          ※「通知なし」を選択した場合、配信登録後に発行されるRSSフィードからご自分で通知を受け取ってください
        - if !current_user || current_user.fcm_device_token.blank?
          %li.text-xs
            ※「プッシュ通知」での受信には
            = link_to "プッシュ通知の設定", mypage_path, class: "text-link"
            が必要です
        - if !current_user || current_user.free_plan?
          %li.text-xs
            ※「Eメール」での受信にはBASICプランへの登録が必要です
  .mb-4
    = f.submit '配信を予約する', class: "btn btn-primary", disabled: !authenticated?