.rounded.text-center.text-white.py-10.px-12.bg-blend-multiply(data-campaign-color-target="banner" class="bg-#{campaign.color}-700" style="background-image: url('#{image_url("backgrounds/#{campaign.pattern}.png")}')")
  .text-md.sm:text-xl.font-mincho
    = campaign.author_name
  %h1(class="mt-1 sm:mt-2 text-2xl sm:text-4xl font-bold font-mincho")
    = campaign.book_title

  - if campaign.persisted?
    .mt-4.text-xs.sm:text-sm
      = campaign.delivery_period