-# bg-blue-100 text-blue-800 bg-gray-100 text-gray-800 bg-yellow-100 text-yellow-800 bg-orange-100 text-orange-800 bg-green-100 text-green-800 bg-red-100 text-red-800
%div
  .mb-4
    = render "campaigns/banner", campaign: campaign

  .flex.flex-col.sm:flex-row.sm:justify-between.space-y-4.sm:space-y-0
    %ul(class="text-sm flex items-center space-x-4")
      - if campaign.user != current_user
        %li.flex.items-center.space-x-1
          %svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4")
            %path(d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z")
          %span みんなの配信
      %li.flex.items-center.space-x-1
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z")
        %span= campaign.delivery_time.strftime("%H:%M")
      %li.flex.items-center.space-x-1
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5")
        %span= "全#{campaign.count}回"
    %ul(class="flex items-stretch space-x-2 text-xs")
      = link_to "https://twitter.com/share?url=#{campaign_url(campaign)}&text=【ブンゴウメール配信】%0a📘#{campaign.author_and_book_name}%0a📅#{campaign.delivery_period}（全#{campaign.count}回）%0a&hashtags=ブンゴウメール", target: :_blank, class: "w-8 sm:w-auto rounded bg-black text-white flex items-center space-x-1 px-1.5 py-1.5 hover:opacity-75" do
        %svg(class="w-3 h-3 mx-auto" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg")
          %path(d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="white")
        %span.hidden.sm:block ツイート
      = link_to "https://www.facebook.com/share.php?u=#{campaign_url(campaign)}", target: :_blank, class: "w-8 sm:w-auto rounded bg-blue-800 text-white flex items-center space-x-1 px-1.5 py-1 hover:opacity-75" do
        %svg(class="w-5 h-5 fill-current mx-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
          %path(d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z")
        %span.hidden.sm:block シェア
      = link_to feed_campaign_url(campaign), target: :_blank, class: "w-8 sm:w-auto rounded bg-orange-600 text-white flex items-center space-x-1 px-1.5 py-1 hover:opacity-75" do
        %svg(class="w-4 h-4 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z")
        %span.hidden.sm:block RSS
