.mb-8
  = render "campaigns/page_header", { campaign: @campaign }

.mb-12
  - if !authenticated? # 未ログイン
    .px-4.py-2.rounded.bg-yellow-50.border.border-yellow-500.text-yellow-700
      .flex.items-center.space-x-4
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z")
        %div
          配信を購読するには
          = link_to "ログイン", new_session_path, class: "text-link"
          が必要です。
  - else # ログイン済み
    - if current_user == @campaign.user # 自分の配信
      = link_to campaign_path, data: { turbo_method: :delete, turbo_confirm: "この配信を削除します。本当によろしいですか？" }, local: true, class: "btn btn-danger-outline" do
        %span 配信を削除する
    - else # 他ユーザーの配信
      - if @subscription.persisted? # 購読済み
        .border.rounded.p-4.bg-gray-50
          .flex.flex-col.sm:flex-row.items-stretch.space-y-2.sm:space-y-0.sm:space-x-4
            = select_tag :delivery_method,
              options_for_select(Subscription.enum_options_for_select(:delivery_method)),
              selected: @subscription.delivery_method,
              disabled: true,
              class: 'border border-gray-200 rounded p-2 w-full flex-1'
            = link_to subscription_path(@subscription), data: { turbo_method: :delete, turbo_confirm: "この配信の購読を解除します。本当によろしいですか？" }, local: true, class: "btn btn-danger-outline" do
              購読を解除する
      - else # 購読可能
        = form_with url: campaign_subscriptions_path(@campaign), model: @subscription, local: true do |f|
          .border.rounded.p-4.bg-gray-50
            .flex.flex-col.sm:flex-row.items-stretch.space-y-2.sm:space-y-0.sm:space-x-4
              = f.select :delivery_method,
                Subscription.enum_options_for_select(:delivery_method),
                { include_blank: "（通知方法を選択）", disabled: @subscription.disabled_delivery_methods, required: true },
                class: 'border border-gray-200 rounded w-full p-2.5'
              = f.submit "この配信を購読する", class: "btn btn-primary", disabled: @subscription.enabled_delivery_methods.blank?

            - if @subscription.disabled_delivery_methods.present?
              %ul.mt-2.space-y-1.text-xs
                - if @subscription.disabled_delivery_methods.include?(:webpush)
                  %li
                    ※プッシュ通知での購読は、
                    = link_to "通知の許可設定", mypage_path, class: "text-link"
                    が必要です。
                - if @subscription.disabled_delivery_methods.include?(:email)
                  %li
                    ※Eメールでの購読は、有料プランへの登録が必要です。

.mb-12
  .border-b.border-gray-200.pb-5.mb-5
    %h3(class="text-base font-semibold leading-6 text-gray-900")
      配信済みエピソード

  - if @feeds.blank?
    %ul.mb-8
      %li まだ配信されていません
  - else
    %ul.mb-8
      - @feeds.each do |feed|
        %li
          = link_to feed_path(feed), class: "flex justify-between space-x-4 items-center hover:bg-gray-50 px-2 py-3" do
            %div.truncate
              .flex.items-center.space-x-2
                %span.font-bold= "##{feed.position}"
                %span.text-sm
                  = feed.delivery_date
              .text-gray-400.text-xs.truncate
                = feed.content
            %div
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
